asgiref
Django
djangorestframework
drf-yasg
inflection
packaging
pytz
PyYAML
sqlparse
uritemplate
backports.zoneinfo;python_version<"3.9" # this is a conditional that installs backports.zoneinfo only for python versions older than 3.9
Pillow
typing-extensions
tzdata
requests